page-qr {
    #home {
        background-image: url(../assets/imgs/background.jpg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .toolbar-background {
        background-color: black;
        opacity: 0.9;
    }
    .toolbar-title {
        color: white;
    }
    #icon-menu {
        color: white;
    }
    #btnQR {
        background-color: black;
        opacity: 0.7;
        color: white;
        width: 50%;
        margin-left: 25%;
    }
    #btnQR2 {
        background-color: black;
        opacity: 0.7;
        color: white;
        width: 50%;
        margin-left: 25%;
    }
    .tabbar {
        opacity: 1;
    }
    #btnExit {
        background-color: transparent;
        opacity: 0.7;
        color: white;
        margin-left: 60%;
    }
    #exit-icon {
        font-size: 25px;
    }
}
